<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pracApplV2.Properties.Settings.MngmntSystDBConnectionString"
            connectionString="Data Source=DESKTOP-OGNQK00;Initial Catalog=MngmntSystDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>